{% extends "base.html" %}

{% block title %}Все игры{% endblock %}

{% block content %}
    <form method="GET">
        <input type="text" name="search" value="{{search}}">
        <input type="submit" value="Send">
    </form>
    <p>Все игры</p>
    <table>
    {% for onegame in allgames %}
        <tr class="clickable-row" data-href="/games/{{onegame.name}}">
            <td>{% include "avatar.html" with avatar=onegame.image only%}</td>
            <td>{{ onegame.name }}</td>
        </tr>
    {% empty %}
        <tr><td>Нет игр(((</td></tr>
    {% endfor %}
    </table>
    {% if prevpage %}<a href="{{ prevpage }}">Назад</a> {% endif %}
    Страница {{page}}
    {% if nextpage %}<a href="{{ nextpage }}">Вперёд</a> {% endif %}

{% endblock %}
