{% load static %}
{% if not avatar %}
<img src="{% static 'images/avatarplaceholder.png' %}"
    {% if width %}width="{{ width }}"{% else %}width="100"{% endif %}
    {% if height %}height="{{ height }}"{% else %}height="100"{% endif %}
    class="{% if class %}{{ class }}{% endif %}"
    alt="avatar" />
{% else %}
<img src="/media/{{ avatar }}"
    {% if width %}width="{{ width }}"{% else %}width="100"{% endif %}
    {% if height %}height="{{ height }}"{% else %}height="100"{% endif %}
    class="{% if class %}{{ class }}{% endif %}"
    alt="avatar" />
{% endif %}
